<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title> | WHATABYTE</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="root">
        <div class="View WelcomeView">
            <h1 class="Banner">Stock Management System</h1>
            <div class="Message">
                <div class="Title">
                    <h3>Developed for Swinburne </h3>
                    <h5 class="detail">SWE 20001 </h5>
                    <div class="Message">
                        <form method="post" action="/login_request" id="Login">
                            <label for="UserName">Username: </label>
                            <input type="text" id="User" name="UserName" placeholder="Username"><br><br>
                            <label for="Password">Password:</label>
                            <input type="text" id="Pass" name="Password" placeholder="Password"><br><br>
                            <label for="submit">Submit </label>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>