<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="theme-color" content="#000000" />
		<title>| WHATABYTE</title>
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body>
		<div id="root">
			<div class="View menuview">
				<h1 class="Banner">Menu</h1>
				<div class="Message">
					<div class="Message">
						<div class="Title">
							<h3>Add New Sale</h3>
							<br />
							<div class="NavButtons">
								<a href="/sales/add">
									<div class="NavButtonLogin">Go!</div>
								</a>
							</div>
						</div>
					</div>
					<div class="Message">
						<div class="Title">
							<h3>Display Sale</h3>
							<br />
							<div class="NavButtons">
								<a href="/sales/display">
									<div class="NavButtonLogin">Go!</div>
								</a>
							</div>
						</div>
					</div>
					<div class="Message">
						<div class="Title">
							<h3>Back</h3>
							<br />
							<div class="NavButtons">
								<a href="/">
									<div class="NavButtonLogin">Go!</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
